[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
numpy = "*"
networkx = "*"
scipy = "*"
matplotlib = "*"
python-louvain = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.6"
