[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
psycopg2-binary = "*"
click = "*"
networkx = "*"
cmake = "*"
cython = "*"
networkit = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.6"
